.App {
  text-align: center;
  /* margin-top: 100px; */
  box-sizing: border-box;
  margin: 0;
}

header {
  border: 2px solid salmon;
  background-color: salmon;
  margin-bottom: 100px;
  top: 0;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin-right: 20px;  
}

a {
  text-decoration: none;
  color: #fff;
}