.App {
  text-align: center;
  /* margin-top: 100px; */
  box-sizing: border-box;
  margin: 0;
}

header {
  border: 2px solid salmon;
  background-color: salmon;
  margin-bottom: 100px;
  
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin-right: 20px;  
}

a {
  text-decoration: none;
  color: #fff;
}

.login__form__container {
  /* border: 2px solid royalblue; */
 width: 250px;
 margin: 0 auto;
 
}

.login__form {
  height: 250px;
 display: flex;
 flex-flow: column wrap;
 justify-content: space-evenly;
 align-items: center;
}